body {
    background-color: grey;
}

.main-container {
    width: 60%;
    height: auto;
    background-color: white;
    margin: 0px auto 0px auto;
    border: 2px solid black;

}

.image {
    width: 100%;
    height: 300px;
    background-color: #d3d3d3;
    margin-top: 22px;
}

.control-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;

}

.left-div {
    margin: 10px;
}

.right-div {
    margin: 10px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: black;
    color: white;

}

h5 {
    margin: 40px;
    font-family: Arial;
}

footer {
    width: 100%;
    height: 75px;
    background-color: black;
}

p {
    font-family: Arial;
}